/* */


/*background color */
.detailBody {background-color: darkgray;}
.orderBody {background-color: darkgray;}


/*Header, inclues Nav bar and logo */
.jsHeaderUnorderd {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
}

.jsHeaderListItem {
  float: left;
}

.jsHeaderInner{
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.jsHeaderInner:hover:not(.active) {
  background-color: #ddd;
}

.jsHeaderInner.active {
  color: white;
  background-color: #04AA6D;
}

/*Footer */
.jsFooter {
  left: 0;
  bottom: 0;
  text-align: Left;
  padding: 10px;
  background-color: Gray;
  color: white;
}

/*detail page, container holding the image and the text */
.detailContainer {
  position: relative;
  border: 5px hidden;
  padding: 5px;
  margin: 5px;
}

/*deatil page, bottom left text block thats on both images */
.detailTextBlock {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background-color: Gray;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}
.orderInfo{
  width: 100%;
  display: flex;
  align-items: left;
  justify-content: left;
}
.orderButton{
    padding: 10px 0;
    outline: none;
    background: transparent;
    width: 20%;
    cursor: pointer;
	}


